# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
APP_URL="localhost:5173"
EMAIL_FROM="No Reply <noreply@localhost>"
SESSION_SECRET="super-dup3r-secret"
RESEND_API_KEY="resend-api-key"