html, body, #root {
	width: 100%;
	/* min-width: 700px; */
	height: 100%;
	/* min-height: 765px; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #e8272c;
	color: white;
}

a {
	color: #f3ead8;
}

a:visited {
	color: #b79c71;
}

#character-fuzzy-search {
	color: white;
}
